.scroll-container {
    position: relative;
  }
  
  .scroll-container::before,
  .scroll-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
  }
  
  .scroll-container::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(10, 10, 10, 1), rgba(10, 10, 10, 0));
  }
  
  .scroll-container::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(10, 10, 10, 1), rgba(10, 10, 10, 0));
  }

  .scrollableFeatureList::-webkit-scrollbar {
    display: none;
  }

  .scrollableFeatureList {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }